<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
  <link rel="stylesheet" href="/app.css">
</head>

<body>
  <div class="flex-container">
  
  <form method="POST" action='/addnews'>
    <input type="text" class="form" name="name" placeholder="Enter Newsletter Name">
    <button type="submit">Add Newsletter NOW</button>
    
  </form>
  
  
</div>
</body>