html {
  font-size: 62.5%;
}

body {
  text-align: center;
  text-shadow: 0 0.05rem 0.1rem rgba(2, 203, 253, 0.5);
  font-family: 'Roboto', sans-serif;
  color: rgb(66, 69, 86);
  max-height: 100vh;
  background-color: aliceblue;
  background-size: cover;
  font-weight: 100;
  line-height: 1.5;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

h1 {
  margin: 0;
  font-size: 20rem;
  line-height: 20rem;
  font-weight: 100;
}

p {
  margin: 0;
  font-size: 2.5rem;
}

.form {
  border: none;
  border-bottom: 3px solid #da0a0a;
  margin-top: 10rem;
  width: 60%;
  max-width: 70rem;
  font-size: 2rem;
  color: black;
  padding: 0.5rem 1rem;
  background: transparent;
  text-shadow: #000;
  text-decoration-color: #000;
  text-emphasis-color: black;
}

button {
  border: 3px solid white;
  font-size: 2rem;
  color: black;
  padding: 0.5rem 3rem;
  background: yellow;
  border-radius: 5px;
  opacity: 0.8;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: lightblue
}
input[type='email']:focus {
  outline: none;
}

button:hover {
  opacity: 1;
  cursor: pointer;
}

input{
  background-color:black;
  text-shadow: black;
  color: #000;
}

table, th, td {
  border: 1px solid black;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  height: 50px;
}

input[type=text]{
  
}